.form__container {
	display: flex;
	flex-direction: column;
	margin-bottom: 1em;
}

.form__label {
	margin-bottom: .6em;
	font-weight: bold;
}

.form__input {
	padding: .7em;
	border-radius: 0;
	border: none;
}

.form__input::placeholder {
	color: #7b7b7b;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
	margin: 0;
}